# App
NODE_ENV=development111

# Site URL
NEXT_PUBLIC_SITE_URL=https://busbuskimki.com

# SEO Verification Codes (Google Search Console ve Bing Webmaster Tools'dan alınacak)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=

# Supabase (Client)
NEXT_PUBLIC_SUPABASE_URL=https://qtlokdkcerjrbrtphlrh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF0bG9rZGtjZXJqcmJydHBobHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxNDgwOTcsImV4cCI6MjA3MzcyNDA5N30.ezpkbTze481HDVgWDohuDY-iOfK8TQpog1Jzk6Glm6k
SUPABASE_ACCESS_TOKEN="sbp_d20ce89d09f9d7346066e44eed8011b5a3a96fc4"

# Supabase (Server/Edge Functions)
SUPABASE_URL=https://qtlokdkcerjrbrtphlrh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF0bG9rZGtjZXJqcmJydHBobHJoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODE0ODA5NywiZXhwIjoyMDczNzI0MDk3fQ.Z9GuxWdEpsAhnz405LM7aVBmZNyJbZOnOdi8A3cMKWI


# Shopier (if used)
SHOPIER_MERCHANT_ID=https://www.shopier.com/busbuskimki
SHOPIER_API_KEY=684fb826c76a726e2be5c049d110029c

SHOPIER_API_SECRET=e860249c45e6e4a6e8eca2c5b327eb77
NEXT_PUBLIC_SHOPIER_API_URL=https://www.shopier.com/ShowProduct/api_pay4.php
NEXT_PUBLIC_SHOPIER_CALLBACK_URL=busbuskimki.com/draft1/wc-api/WC_Shopier
NEXT_PUBLIC_SHOPIER_WEBHOOK_URL=http://localhost:54321/functions/v1/payment-webhook

# OAuth (optional)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=



# Analytics/Logging (optional)
NEXT_PUBLIC_SENTRY_DSN=https://490aff9d88761f5329de1971ee8ca16f@o4510182013009920.ingest.de.sentry.io/4510182075203664
SENTRY_ORG=busbuskimki-dh
SENTRY_PROJECT=javascript-nextjs
SENTRY_AUTH_TOKEN=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
# Email Configuration (for PDF notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=busbuskimkionline@gmail.com
SMTP_PASS=ouxpmflgzqfornlv


GEMINI_API_KEY=AIzaSyAgjVO0rAe1DishHl4KGRxpiQBDaHomhPs
# Webhooks / Payments
WEBHOOK_SECRET= GZ0bjbaTYgZ2I2Ecb4eCCmGzIaOIRBrT1QrDrJ8tsfA=