.perspective {
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.card-flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.card-flip-container.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card-flip-front,
.card-flip-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.card-flip-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  z-index: 2;
}

.card-flip-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}

.card-flip-container.flipped .card-flip-front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}

.card-flip-container.flipped .card-flip-back {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  z-index: 2;
}

